version: "3.8"

services:
  namenode:
    image: apache/hadoop:3
    container_name: namenode
    hostname: namenode
    user: "0:0"
    command: ["hdfs", "namenode"]
    ports:
      - "9870:9870"  
    env_file:
      - ./config/hadoop.env
    environment:
      ENSURE_NAMENODE_DIR: "/tmp/hadoop-root/dfs/name"
    volumes:
      - namenode-data:/tmp/hadoop-root/dfs/name
      - ./config/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./config/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
    networks:
      - hadoop

  datanode:
    image: apache/hadoop:3
    container_name: datanode
    user: "0:0"
    command: ["hdfs", "datanode"]
    depends_on:
      - namenode
    env_file:
      - ./config/hadoop.env
    environment:
      ENSURE_DATANODE_DIR: "/tmp/hadoop-root/dfs/data"
    volumes:
      - datanode-data:/tmp/hadoop-root/dfs/data
      - ./config/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./config/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
    networks:
      - hadoop

  resourcemanager:
    image: apache/hadoop:3
    container_name: resourcemanager
    hostname: resourcemanager
    user: "0:0"
    command: ["yarn", "resourcemanager"]
    depends_on:
      - namenode
    ports:
      - "8088:8088"  
    env_file:
      - ./config/hadoop.env
    volumes:
      - ./config/yarn-site.xml:/opt/hadoop/etc/hadoop/yarn-site.xml
      - ./config/mapred-site.xml:/opt/hadoop/etc/hadoop/mapred-site.xml
    networks:
      - hadoop

  nodemanager:
    image: apache/hadoop:3
    container_name: nodemanager
    user: "0:0"
    command: ["yarn", "nodemanager"]
    depends_on:
      - resourcemanager
    env_file:
      - ./config/hadoop.env
    volumes:
      - ./config/yarn-site.xml:/opt/hadoop/etc/hadoop/yarn-site.xml
      - ./config/mapred-site.xml:/opt/hadoop/etc/hadoop/mapred-site.xml
    networks:
      - hadoop

volumes:
  namenode-data:
  datanode-data:

networks:
  hadoop:
